<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Favorite Video Game-Space 2", user_video_games_path(current_user), class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item px-3">
        <%= link_to "Genres", user_genres_path(current_user), class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Video Games
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "All Video Games", video_games_path, class: "dropdown-item" %>
          <%= link_to "My Favorite Video Games", user_video_games_path(current_user), class: "dropdown-item" %>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.username %>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "My Account", user_path(current_user), class: "dropdown-item" %>
          <%= link_to "Logout", logout_path, class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</nav>
